/*
 * defaults.css
 * Used by almost every web page on battlegrounds
 * to set reasonable defaults.
 */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.box {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.responsive-side-margin {
  margin-right: 15%;
  margin-left: 15%;
}

main {
  padding-top: 24px;
}

.settings-theme-img {
  /* TODO -- Make width and height of images responsive */
  height: 85px;
  border-radius: 10%;
}

.top-header {
  background-color: rgb(22, 27, 34, 0.75);
  color: rgba(240, 246, 252, 0.7);
  min-height: 50px;
  padding: 11px 20px;
}

.bottom-header {
  background-color: rgb(22, 27, 34, 0.25);
  min-height: 35px;
}

input[name="theme-choice"]{
  position: relative;
  top: 16px;
  left: 105px;
}
.user-settings-text {
  position: relative;
  /* TODO: implement responsiveness in top and right, use % instead of hardcoded pixels */

  top: 15px;
  right: 130px;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
}